<p>При архивации, обязательно указать кол-во потраченных дней на задачу</p>

<%= simple_form_for @goal, url: set_fact_day_goal_path do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :fact_days %>
  </div>

  <%= hidden_field_tag 'update_fact_days', true %>
  <div class="form-actions">
    <%= f.button :submit, t('views.button.save'), class: 'btn btn-success mt-2' %>
  </div>
<% end %>
