<div class="table-responsive">
  <table class="table table-striped table-dark">
    <thead>
    <tr class="text-center">
      <th scope="col">Название задачи</th>
      <th scope="col">Ожидаемая продолжительность (дней)</th>
      <th scope="col">Возможное отклонение (дней)</th>
      <th scope="col">Инструменты</th>
    </tr>
    </thead>
    <tbody>
    <% @goals.each do |goal| %>
      <% if goal.visibility? %>
        <tr class="text-center">
          <td class="align-middle"><%= goal.title %></td>
          <td class="align-middle"><%= goal.expected_days %></td>
          <td class="align-middle"><%= goal.deviation_days %></td>
          <td class="align-middle">
            <%= link_to t('views.button.show'), goal %><br>
            <%= link_to t('views.button.edit'), edit_goal_path(goal) %><br>
            <%= link_to t('views.button.delete'), goal_path(goal), method: :delete, data: { confirm: t('views.delete.confirm') } %><br>
            <%= link_to t('views.button.arhiv'), set_fact_day_goal_path(goal) %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>


<br>

<%= link_to 'Добавить задачу', new_goal_path, class: 'btn btn-secondary' %>
