<p id="notice"><%= notice %></p>

<h1>Goals</h1>

<table>
  <thead>
    <tr>
      <th>Пользователь</th>
      <th>Название задачи</th>
      <th>Оптимистическая оценка</th>
      <th>Номинальная оценка</th>
      <th>Пессимистическая оценка</th>
      <th>Ожидаемая продолжительность</th>
      <th>Возможное отклонение</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <% if goal.visibility? %>
        <tr>
          <td><%= goal.user.email %></td>
          <td><%= goal.title %></td>
          <td><%= goal.optimal_days %></td>
          <td><%= goal.normal_days %></td>
          <td><%= goal.pessimistic_days %></td>
          <td><%= goal.expected_days %></td>
          <td><%= goal.deviation_days %></td>
          <td><%= link_to 'Show', goal %></td>
          <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
          <td><%= link_to 'Удалить', goal_path(goal), method: :delete, data: { confirm: 'Уверены?' } %></td>
          <td><%= link_to 'Архивировать', set_fact_day_goal_path(goal) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goal', new_goal_path %>
